<!--Carousel Wrapper-->
<div class="highLight">
  <div class="container">
    <div class="searchBar md-form">
      <input type="text" class="input-alternate" placeholder="Search">
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="socialRow col-md-4">
        Follow us:
        <!--Facebook-->
        <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

        <!--Twitter-->
        <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

        <!--Instagram-->
        <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

        <!--Youtube-->
        <a class="icons-sm yt-ic"><i class="fa fa-youtube"></i></a>
      </div>
    </div>

    <div class="row">
      <h1 class="headerTitle">Music</h1>
    </div>
  </div>
</div>

<div class="mainWrapper">
  <div class="container">
    <div class="row">
      <div class="Detail col-md-8">
        <h1>Burna Boy – Heaven’s Gate ft. Lily Allen</h1>
        <span class="time">
          04/12/2018
        </span>
        <img class="mainPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1516636960/Heavens-Gate-feat.-Lily-Allen-naijaexclusive-740x431_twhxa8.jpg">
        <div class="row">
          <div class="col-md-8">
            <p>SpaceShip Entertainment Frontman , Burna Boy debuts new single titled ‘Heaven’s Gate’ featuring English Singer, Lily Allen.</p>
          </div>
          <div class="col-md-4">
            <img class="subPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1516617018/Burna-Boy_vngpnv.jpg">
          </div>
        </div>
        <div class="itemDetails">
          <div class="row">
            <audio controls>
              <source src="http://res.cloudinary.com/sammiestarks/video/upload/v1516636660/Burna_Boy_-_Heavens_Gate_ft_Lily_Allen__NaijaExclusive.net_zzbxph.mp3" type="audio/mpeg">
            </audio>
          </div>
          <div class="row">
            <i class="fa fa-star fa-2x" aria-hidden="true"></i>
          </div>
          <div class="row">
            <p><span>4.5</span> /5<br>
              <span>56 Streams</span>
            </p>
          </div>
          <div class="row">
            <div ><p>Rate This Song:  </p></div>
            <div >
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="shareTags row">
          <div class="col-md-6">
            <h4>Share it:</h4>
            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

            <!--Twitter-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
          </div>
          <div class="col-md-6">
            <h4>Tags: </h4>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <!--Main wrapper-->
          <div class="comments-list text-left">
            <div class="section-heading">
              <h3>Comments <span class="badge purple">3</span></h3>
            </div>
            <!--First row-->
            <div class="row">
              <!--Image column-->
              <div class="col-sm-2 col-12">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg">
              </div>
              <!--/.Image column-->
              <!--Content column-->
              <div class="col-sm-10 col-12">
                <a>
                  <h3 class="user-name">John Doe</h3>
                </a>
                <div class="card-data">
                  <ul class="pl-0">
                    <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                  </ul>
                </div>
                <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                  sint occaecat cupidatat non proident.</p>
              </div>
              <!--/.Content column-->
            </div>
            <!--/.First row-->
            <!--Second row-->
            <div class="row">
              <!--Image column-->
              <div class="col-sm-2 col-12">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg">
              </div>
              <!--/.Image column-->
              <!--Content column-->
              <div class="col-sm-10 col-12">
                <a>
                  <h3 class="user-name">Marta Tev</h3>
                </a>
                <div class="card-data">
                  <ul class="pl-0">
                    <li class="comment-date"><i class="fa fa-clock-o"></i> 08/10/2015</li>
                  </ul>
                </div>
                <p class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                  enim ipsam voluptatem quia voluptas sit aspernatur.</p>
              </div>
              <!--/.Content column-->
            </div>
            <!--/.Second row-->
            <!--Third row-->
            <div class="row">
              <!--Image column-->
              <div class="col-sm-2 col-12">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg">
              </div>
              <!--/.Image column-->
              <!--Content column-->
              <div class="col-sm-10 col-12">
                <a>
                  <h3 class="user-name">Anna Maria</h3>
                </a>
                <div class="card-data">
                  <ul class="pl-0">
                    <li class="comment-date"><i class="fa fa-clock-o"></i> 17/10/2015</li>
                  </ul>
                </div>
                <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
                  culpa qui officia.
                </p>
              </div>
              <!--/.Content column-->
            </div>
            <!--/.Third row-->
          </div>
          <!--/.Main wrapper-->
          <!--Second row-->
        </div>
        <div class="row">
          <!--First column-->
          <div class="col-md-12">
            <div class="md-form">
              <textarea mdbActive type="text" id="form76" class="md-textarea"></textarea>
              <label for="form76">Comment</label>
            </div>
            <!--Unique-->
            <button type="button" class="btn btn-unique waves-light" mdbRippleRadius>Comment</button>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 sideBarLabels">
        <h4>Search</h4>
        <hr>
        <div class="searchBar md-form">
          <input id="input_text" type="text" length="10" mdbInputDirective>
        </div>
        <h4>Categories</h4>
        <hr>
        <ul class="cateLinks nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Artist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Albums</a>
          </li>
        </ul>
        <h4>Tags</h4>
        <ul class="tagNavs nav">
          <li class="nav-item">
            <a href="#" class="badge badge-secondary">Wizkid</a>
          </li>
          <li class="nav-item">
            <a href="#" class="badge badge-secondary">Afrobeat</a>
          </li>
          <li class="nav-item">
            <a href="#" class="badge badge-secondary">Hip-Hop</a>
          </li>
        </ul>
        <div class="aDs container">
          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1519746881/cheche_pqyxvh.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
