<!--Carousel Wrapper-->
<div class="highLight">
  <div class="container">
    <div class="searchBar md-form">
      <input type="text" class="input-alternate" placeholder="Search">
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="socialRow col-md-4">
        Follow us:
        <!--Facebook-->
        <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

        <!--Twitter-->
        <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

        <!--Instagram-->
        <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

        <!--Youtube-->
        <a class="icons-sm yt-ic"><i class="fa fa-youtube"></i></a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 headerTitle">
          <h1>The Chairman</h1>
          <p>M.I Abaga</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mainWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1516716775/M.I-The-Chairman-Official-Album-Art1_l86wcf.jpg">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <div class="row">

              <!-- Nav tabs -->
              <mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-4 pills-secondary white margin'" [contentClass]="''">
                <!--Panel 1-->
                <mdb-tab heading="Biography">
                  <div class="row">
                    <div class="col-12">
                      <br>
                      <div class="headS">
                        <h3>Biography of</h3>
                        <h2>Album</h2>
                      </div>
                      <p>The Chairman is the third studio album by Nigerian hip hop recording artist M.I. It released on October 30, 2014, by Chocolate City and Loopy Music.[2] The album features collaborations with producers and guest artists such as 2face Idibia, Wizkid, Seyi Shay, Ice Prince, Olamide, Phyno, Reminisce, Oritse Femi, Patoranking, Reinhard, Runtown, Sarkodie, Nosa, Beenie Man, Koker, Moti Cakes, Wilson Alao, Sound Sultan, Emmy Ace, Sammy Gyang, Chigurl, Milli, Frank Edwards, Nanya, G-Plus, Morell, Loose Kaynon, Pheelz, Debbie, DJ Lambo, Sarz, Stormrex, L-37, VSTOL and I.J. </p>

                      <p>The album's production began in 2012 and continued through the third quarter of 2014. The rapper worked with several collaborators, while enlisting new producers. Much of The Chairman tells the story of the rapper's journey into limelight. According to the rapper's sales team, the album sold 30,000 copies in pre-order sales.[3] The album was supported by "Chairman" and "King James", two promotional singles that didn't make the cut.</p>
                    </div>
                  </div>
                </mdb-tab>
                <!--Panel 2-->
                <mdb-tab heading="Songs">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="#">The Beginning/Nobody</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">"Monkey" (featuring Chigurl)</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">"Rich" (featuring Koker)</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">"Mine" (featuring Wizkid)</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">"Shekpe" (featuring Reminisce)</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">"Bad Belle" (featuring Moti Cakes)</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">"Wheel Barrow" (featuring Emmy Ace and Bennie Man)</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">"Brother" (featuring Nosa and Milli)</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </mdb-tab>
                <!--Panel 3-->
                <mdb-tab heading="Videos">
                  <div class="row">
                    <div class="col-md-12">
                      <h6>Artist name - Song Title</h6>
                      <video controls>
                        <source src="http://res.cloudinary.com/sammiestarks/video/upload/v1525427583/MI_Abaga_-_Bad_Belle_ft._Moti_Cakes_rax4jz.mp4" type="video/mp4" />
                      </video>
                    </div>
                  </div>
                </mdb-tab>
              </mdb-tabset>

            </div>
          </div>
          <div class="col-md-4 sideBarLabels">
            <h4>Search</h4>
            <hr>
            <div class="searchBar md-form">
              <input id="input_text" type="text" length="10" mdbInputDirective>
            </div>
            <h4>Categories</h4>
            <hr>
            <ul class="cateLinks nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">Songs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Artist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Albums</a>
              </li>
            </ul>
            <h4>Tags</h4>
            <ul class="tagNavs nav">
              <li class="nav-item">
                <a href="#" class="badge badge-secondary">Wizkid</a>
              </li>
              <li class="nav-item">
                <a href="#" class="badge badge-secondary">Afrobeat</a>
              </li>
              <li class="nav-item">
                <a href="#" class="badge badge-secondary">Hip-Hop</a>
              </li>
            </ul>
            <div class="aDs">
              <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1519743757/af2_kor9by.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
