<div class="sideBarLabels container">
  <h3>spotlight celebrities</h3>
  <hr>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <div class="spotlight row">
          <div class="col-md-3">
            <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466010/wizkid_x6hiyp.jpg">
          </div>
          <div class="spotlightDetails col-md-9">
            <h5>Wizkid</h5>
            <p>Artist</p>
          </div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <div class="spotlight row">
          <div class="col-md-3">
            <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512730627/7_uf9buz.jpg">
          </div>
          <div class="spotlightDetails col-md-9">
            <h5>Tu Face</h5>
            <p>Artist</p>
          </div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <div class="spotlight row">
          <div class="col-md-3">
            <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512730631/Kiss-Daniel_qqxucw.jpg">
          </div>
          <div class="spotlightDetails col-md-9">
            <h5>Kiss Daniel</h5>
            <p>Artist</p>
          </div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><p>view all</p></a>
    </li>
  </ul>
</div>
