<!--Carousel Wrapper-->
<div class="highLight">
  <div class="container">
    <div class="searchBar md-form">
      <input type="text" class="input-alternate" placeholder="Search">
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="socialRow col-md-4">
        Follow us:
        <!--Facebook-->
        <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

        <!--Twitter-->
        <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

        <!--Instagram-->
        <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

        <!--Youtube-->
        <a class="icons-sm yt-ic"><i class="fa fa-youtube"></i></a>
      </div>
    </div>

    <div class="row">
      <h1 class="headerTitle">Music</h1>
    </div>
  </div>
</div>

<div class="row">
    <div class="container mainTitle">

        <!--Section: Magazine v.2-->
        <section class="magazine-section text-center">


            <!--Section heading-->
            <h2 class="h1 text-center my-5 font-weight-bold">Latest News</h2>

            <!--Grid row-->

            <div class="row text-left">

                <!--Grid column-->
                <div class="col-lg-6 col-md-12">

                    <!--Featured news-->
                    <div class="single-news">


                        <!--Image-->
                        <div class="view overlay rounded z-depth-1-half mb-3 waves-light" mdbWavesEffect>

                            <img src="https://mdbootstrap.com/img/Photos/Slides/1.jpg" class="img-fluid" alt="Wider sample post image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>

                        </div>

                        <!--Excerpt-->
                        <div class="news-data mb-5">
                            <a href="" class="deep-orange-text">
                                <h6>
                                    <strong> Music</strong>
                                </h6>
                            </a>
                            <p class="dark-grey-text">

                                <strong>
                                    <i class="fa fa-clock-o"></i> 27/02/2018</strong>
                            </p>

                        </div>

                        <h3 class="pt-2">
                            <a>
                                <strong>This is title of the news</strong>
                            </a>
                        </h3>

                        <p align="justify">Sed ut perspiciatis unde voluptatem omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae explicabo.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>


                    </div>
                    <!--/Featured news-->

                </div>
                <!--Grid column-->


                <!--Grid column-->
                <div class="col-lg-6 col-md-12">

                    <!--Small news-->

                    <div class="single-news">

                        <div class="row">
                            <div class="col-md-3">


                                <!--Image-->
                                <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
                                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" class="img-fluid" alt="Minor sample post image">
                                    <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a>

                                </div>
                            </div>

                            <!--Excerpt-->
                            <div class="col-md-9">

                                <p class="dark-grey-text">
                                    <strong>25/02/2018</strong>
                                </p>

                                <a class="grey-text">Duis aute irure dolor in reprehenderit in voluptate.
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>

                    </div>
                    <!--/Small news-->

                    <!--Small news-->
                    <div class="single-news">


                        <div class="row">
                            <div class="col-md-3">

                                <!--Image-->

                                <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" class="img-fluid" alt="Minor sample post image">
                                    <a>
                                        <div class="mask rgba-white-slight"></div>

                                    </a>
                                </div>
                            </div>

                            <!--Excerpt-->
                            <div class="col-md-9">

                                <p class="dark-grey-text">
                                    <strong>25/02/2018</strong>
                                </p>

                                <a class="grey-text">Duis aute irure dolor in reprehenderit in voluptate.
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>

                    </div>
                    <!--/Small news-->

                    <!--Small news-->
                    <div class="single-news">


                        <div class="row">
                            <div class="col-md-3">

                                <!--Image-->

                                <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
                                    <img src="https://mdbootstrap.com/img/Photos/Others/images/87.jpg" class="img-fluid" alt="Minor sample post image">
                                    <a>
                                        <div class="mask rgba-white-slight"></div>

                                    </a>
                                </div>
                            </div>

                            <!--Excerpt-->
                            <div class="col-md-9">

                                <p class="dark-grey-text">
                                    <strong>25/02/2018</strong>
                                </p>

                                <a class="grey-text">Duis aute irure dolor in reprehenderit in voluptate.
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>

                    </div>
                    <!--/Small news-->

                    <!--Small news-->
                    <div class="single-news">


                        <div class="row">
                            <div class="col-md-3">

                                <!--Image-->

                                <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
                                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" class="img-fluid" alt="Minor sample post image">
                                    <a>
                                        <div class="mask rgba-white-slight"></div>

                                    </a>
                                </div>
                            </div>

                            <!--Excerpt-->
                            <div class="col-md-9">

                                <p class="dark-grey-text">
                                    <strong>25/02/2018</strong>
                                </p>

                                <a class="grey-text">Duis aute irure dolor in reprehenderit in voluptate.
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>

                    </div>
                    <!--/Small news-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->

        </section>
        <!--Section: Magazine v.2-->

    </div>
</div>
<div class="mainWrapper">
  <div class="container">
    <div class="row">
      <div class="newsList col-md-8">
          <div class="mainTitle">
            <h2>Top Songs</h2>
            <ul class="newsNav nav row">
              <li class="nav-item">
                <a class="nav-link" href="#">Hot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Trending</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">View All</a>
              </li>
            </ul>
          </div>


          <!--Carousel Wrapper-->
          <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="" [animation]="'slide'">
            <!--First slide-->
            <mdb-slide>
              <div class="col-md-4">
                <div class="card imgDimension">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card imgDimension">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card imgDimension">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                  </div>
                </div>
              </div>
            </mdb-slide>
            <!--/First slide-->
            <!--Second slide-->
            <mdb-slide>
              <div class="col-md-4">
                <div class="card imgDimension">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card imgDimension">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card imgDimension">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(48).jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                  </div>
                </div>
              </div>
            </mdb-slide>
            <!--/Second slide-->
            <!--Third slide-->
            <mdb-slide>
              <div class="col-md-4">
                <div class="card imgDimension">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card imgDimension">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card imgDimension">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(51).jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                  </div>
                </div>
              </div>
            </mdb-slide>
            <!--/Third slide-->
          </mdb-carousel>
          <!--/.Carousel Wrapper-->

        <div class="mainTitle">
          <h2>Artist</h2>
          <ul class="newsNav nav row">
            <li class="nav-item">
              <a class="nav-link" href="#">Hot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Trending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">View All</a>
            </li>
          </ul>
        </div>


        <!--Carousel Wrapper-->
        <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="" [animation]="'slide'">
          <!--First slide-->
          <mdb-slide>
            <div class="col-md-4">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
          </mdb-slide>
          <!--/First slide-->
          <!--Second slide-->
          <mdb-slide>
            <div class="col-md-4">
              <div class="card imgDimension">
                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1516623010/phyno_ddnw1p.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1516618623/MAYORKUN_lsjorr.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1516623934/Eva-Alordiah........_njrvcb.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
          </mdb-slide>
          <!--/Second slide-->
          <!--Third slide-->
          <mdb-slide>
            <div class="col-md-4">
              <div class="card imgDimension">
                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1516626510/0855234a5a4444f66bb795b13ac02609_cfutdr.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1516625691/tekno_vxbxh8.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1516625800/davido_ada_ft_dj_ecool_mp3_download-3_i7muy4.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
          </mdb-slide>
          <!--/Third slide-->
        </mdb-carousel>
        <!--/.Carousel Wrapper-->

        <div class="mainTitle">
          <h2>Albums</h2>
          <ul class="newsNav nav row">
            <li class="nav-item">
              <a class="nav-link" href="#">Hot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Trending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">View All</a>
            </li>
          </ul>
        </div>


        <!--Carousel Wrapper-->
        <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="" [animation]="'slide'">
          <!--First slide-->
          <mdb-slide>
            <div class="col-md-4">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
          </mdb-slide>
          <!--/First slide-->
          <!--Second slide-->
          <mdb-slide>
            <div class="col-md-4">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(48).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
          </mdb-slide>
          <!--/Second slide-->
          <!--Third slide-->
          <mdb-slide>
            <div class="col-md-4">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card imgDimension">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(51).jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                </div>
              </div>
            </div>
          </mdb-slide>
          <!--/Third slide-->
        </mdb-carousel>
        <!--/.Carousel Wrapper-->
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 sideBarLabels">
        <h4>Search</h4>
        <hr>
        <div class="searchBar md-form">
          <input id="input_text" type="text" length="10" mdbInputDirective>
        </div>
        <h4>Categories</h4>
        <hr>
        <ul class="cateLinks nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Artist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Albums</a>
          </li>
        </ul>
        <div class="sideBarLabels">
          <h3>spotlight celebrities</h3>
          <hr>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="spotlight row">
                  <div class="col-md-3">
                    <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466010/wizkid_x6hiyp.jpg">
                  </div>
                  <div class="spotlightDetails col-md-9">
                    <h5>Wizkid</h5>
                    <p>Artist</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="spotlight row">
                  <div class="col-md-3">
                    <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512730627/7_uf9buz.jpg">
                  </div>
                  <div class="spotlightDetails col-md-9">
                    <h5>Tu Face</h5>
                    <p>Artist</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="spotlight row">
                  <div class="col-md-3">
                    <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512730631/Kiss-Daniel_qqxucw.jpg">
                  </div>
                  <div class="spotlightDetails col-md-9">
                    <h5>Kiss Daniel</h5>
                    <p>Artist</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><p>view all</p></a>
            </li>
          </ul>
        </div>

        <div class="aDs container">
          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1519746881/cheche_pqyxvh.png" class="img-fluid">
        </div>
      </div>
    </div>
          <div class="tvLinkr">
              <div class="mainTitle row">
                  <h2 class="col-md-10">Music Videos</h2>
                  <a class="nav-link col-md-2" href="#">view all</a>
              </div>
              <div class="row">
                  <div class="col-md-8">
                      <video class="video-fluid" controls>
                          <source src="http://res.cloudinary.com/sammiestarks/video/upload/v1524222386/CeCe_and_Tobi_starts_the_Real_fight_PART_1_-_YouTube_rzdflq.mp4" type="video/mp4" />
                      </video>
                  </div>
                  <div class="col-md-4 scrollbar">
                      <ul class="nav flex-column force-overflow">
                          <li class="nav-item">
                              <a href="#">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516624613/video-tiwa-savage-ft-wizkid-spel_m8mqvm.jpg">
                                      </div>
                                      <div class="col-md-8"><h4>title</h4></div>
                                  </div>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516625095/128883174-256-k748660_wqszrp.jpg">
                                      </div>
                                      <div class="col-md-8"><h4>title</h4></div>
                                  </div>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516628633/Burna-Boy-Heavens-Gate-Video_pxfg9v.jpg">
                                      </div>
                                      <div class="col-md-8"><h4>title</h4></div>
                                  </div>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516629886/tiwa-1-1_ozxbsu.jpg">
                                      </div>
                                      <div class="col-md-8"><h4>title</h4></div>
                                  </div>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516630123/NO_DO-NL_ydhamw.jpg">
                                      </div>
                                      <div class="col-md-8"><h4>title</h4></div>
                                  </div>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1518011112/maxresdefault2_zekiiw.jpg">
                                      </div>
                                      <div class="col-md-8"><h4>title</h4></div>
                                  </div>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1518011108/hqdefault1_yhpoar.jpg">
                                      </div>
                                      <div class="col-md-8"><h4>title</h4></div>
                                  </div>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1518011107/hqdefault_azsb54.jpg">
                                      </div>
                                      <div class="col-md-8"><h4>title</h4></div>
                                  </div>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1518011105/maxresdefault_lpy5fm.jpg">
                                      </div>
                                      <div class="col-md-8"><h4>title</h4></div>
                                  </div>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
  </div>
</div>
