.aDs{
  margin-top: 100px;

  img{
    height: 296px;
    width: 336px;
  }
}

.Evento{
  img{
    padding: 40px
  }
  .Feeds{
    img{
      height: 400px;
      width: 100%;
      max-width: 100%;
    }
  }
}