<app-news-carousel></app-news-carousel>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <app-news-list></app-news-list>
        </div>
        <div class="col-md-4">
            <div class="aDs container">
                <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1519743757/af2_kor9by.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <app-music-carousel></app-music-carousel>
        </div>
        <div class="col-md-4">
            <app-spotlight-celebs></app-spotlight-celebs>
        </div>
    </div>
</div>
    <div class="row" style="  background-color: #f3e5f5;
  background-size: cover;">
        <div class="container">
        <div class="col-md-12">
            <app-tv-slab></app-tv-slab>
        </div>
        </div>
    </div>
<div class="Evento container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1519744833/lan-sm_qjb4t6.png">
            </div>
            <app-events-slide></app-events-slide>
        </div>
        <div class="col-md-4">
            <div class="Feeds row">
                <div class="col-md-12"><img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1519744442/af7_di7vju.png"></div>
                <div class="col-md-12">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515487845/Facebook-Integration_kdqkof.png">
                </div>
                <div class="col-md-12">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515487851/Opta-Joe-Twitter-Feed_qh5qab.jpg">
                </div>
            </div>
        </div>
    </div>
</div>