<app-news-carousel></app-news-carousel>
<div class="newsList container">
    <div class="row">
        <div class="col-md-8">
            <app-news-list></app-news-list>
        </div>
        <div class="col-md-4">
            <h2>Ads</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <app-music-carousel></app-music-carousel>
        </div>
        <div class="col-md-4">
            <app-spotlight-celebs></app-spotlight-celebs>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-tv-slab></app-tv-slab>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <app-events-slide></app-events-slide>
        </div>
        <div class="col-md-4">
            Social Feeds
        </div>
    </div>
</div>