<!--Carousel Wrapper-->
<div class="highLight">
  <div class="container">
    <div class="searchBar md-form">
      <input type="text" class="input-alternate" placeholder="Search">
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="socialRow col-md-4">
        Follow us:
        <!--Facebook-->
        <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

        <!--Twitter-->
        <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

        <!--Instagram-->
        <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

        <!--Youtube-->
        <a class="icons-sm yt-ic"><i class="fa fa-youtube"></i></a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 headerTitle">
          <h1>Wizkid</h1>
          <p>Artist | Producer</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mainWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1516695104/TCD_7716_web-468x702_rdxlgn.jpg">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-8">
            <div class="row">

              <!-- Nav tabs -->
              <mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-4 pills-secondary white margin'" [contentClass]="''">
                <!--Panel 1-->
                <mdb-tab heading="Biography">
                  <div class="row">
                    <div class="col-12">
                      <br>
                      <div class="headS">
                        <h3>Biography of</h3>
                        <h2>Artist</h2>
                      </div>
                      <p>Ayodeji Ibrahim Balogun (born 16 July 1990), better known by his stage name Wizkid (sometimes stylised as WizKid), is a Nigerian singer and songwriter. He started recording music at age 11 and managed to release a collaborative album with the Glorious Five, a group he and a couple of his church friends formed. In 2009, he signed a record deal with Banky W.'s record label Empire Mates Entertainment (E.M.E). </p>

                      <p>He rose to prominence in 2010 with the release of the song "Holla at Your Boy" from his debut studio album, Superstar (2011). "Tease Me/Bad Guys", "Don't Dull", "Love My Baby", "Pakurumo" and "Oluwa Lo Ni" were also released as singles from the Superstar album. Wizkid's self-titled second studio album, Ayo, was released in September 2014 and was preceded by six singles: "Jaiye Jaiye", "On Top Your Matter", "One Question", "Joy", "Bombay" and "Show You the Money".</p>
                      <p> In 2016, Wizkid achieved international recognition following his collaboration with Drake on the global hit, "One Dance", which reached number one in 15 countries, including the United States, United Kingdom, Canada and Australia. In addition to his solo work, Wizkid has collaborated with several other artists and was featured on the hits "Girl" (with Bracket), "Fine Lady" (with Lynxxx), "Sexy Mama" (with Iyanya), "Slow Down" (with R2Bees), "The Matter" (with Maleek Berry), "Pull Over" (with KCee) and "Bad Girl" (with Jesse Jagz). Following the release of his second studio album and expiration of his 5-year recording contract, Wizkid left E.M.E. On 1 March 2017, Billboard magazine reported that Wizkid signed a multi-album deal with RCA Records. </p>
                      <p>The deal was first reported by several media outlets in September 2016. The chairman and CEO of RCA Records, Peter Edge, somewhat confirmed the signing while speaking to Music Business Worldwide in January 2017.[6] He was ranked 5th on Forbes and Channel O's 2013 list of the Top 10 Richest/Bankable African Artists. In February 2014, Wizkid became the first ever Nigerian musician to have over 1 million followers on Twitter. Moreover, he became the first Afrobeats artist to appeared in the 2018 Guinness World Records for his contribution to Drake's hit song "One Dance".
                      </p>
                    </div>
                  </div>
                </mdb-tab>
                <!--Panel 2-->
                <mdb-tab heading="Photos">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516710212/Wizkid_fymfwe.jpg" class="img-fluid img-thumbnail">
                    </div>
                    <div class="col-md-6">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516710213/-aQ2jGM9_luq2ek.jpg" class="img-fluid img-thumbnail">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516710214/1467217443_469e150f6a84fdf46f59e6e39579d5a7_wifoef.jpg" class="img-fluid img-thumbnail">
                    </div>
                    <div class="col-md-6">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516710216/Wizkid-3tv_dlh8g2.jpg" class="img-fluid img-thumbnail">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516710218/Wizkid-Beats1_lkjqzw.jpg" class="img-fluid img-thumbnail">
                    </div>
                    <div class="col-md-6">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516710225/wizkid-eledumare_xu1lmy.jpg" class="img-fluid img-thumbnail">
                    </div>
                  </div>
                </mdb-tab>
                <!--Panel 3-->
                <mdb-tab heading="Videos">
                  <div class="row">
                    <div class="col-md-6">
                      <h6>Artist name - Song Title</h6>
                      <video controls>
                        <source src="http://res.cloudinary.com/sammiestarks/video/upload/v1512740806/MUT4Y_FT_WIZKID_-_MANYA_OFFICIAL_VIDEO_2017_360p_bx8weg.mp4" type="video/mp4" />
                      </video>
                    </div>
                    <div class="col-md-6">
                      <h6>Artist name - Song Title</h6>
                      <video controls>
                        <source src="http://res.cloudinary.com/sammiestarks/video/upload/v1525423013/STARBOY_-_SOCO_ft._TERRI_X_SPOTLESS_X_CEEZA_MILLI_X_WIZKID_OFFICIAL_VIDEO_iqh31f.mp4" type="video/mp4" />
                      </video>
                    </div>
                  </div>
                </mdb-tab>
              </mdb-tabset>

            </div>
          </div>
          <div class="col-md-4 sideBarLabels">
            <h4>Search</h4>
            <hr>
            <div class="searchBar md-form">
              <input id="input_text" type="text" length="10" mdbInputDirective>
            </div>
            <h4>Categories</h4>
            <hr>
            <ul class="cateLinks nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">Songs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Artist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Albums</a>
              </li>
            </ul>
            <h4>Tags</h4>
            <ul class="tagNavs nav">
              <li class="nav-item">
                <a href="#" class="badge badge-secondary">Wizkid</a>
              </li>
              <li class="nav-item">
                <a href="#" class="badge badge-secondary">Afrobeat</a>
              </li>
              <li class="nav-item">
                <a href="#" class="badge badge-secondary">Hip-Hop</a>
              </li>
            </ul>
            <div class="aDs">
              <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1519743757/af2_kor9by.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
