<!--Carousel Wrapper-->
<div class="highLight">
  <div class="container">
    <div class="searchBar md-form">
      <input type="text" class="input-alternate" placeholder="Search">
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="socialRow col-md-4">
        Follow us:
        <!--Facebook-->
        <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

        <!--Twitter-->
        <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

        <!--Instagram-->
        <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

        <!--Youtube-->
        <a class="icons-sm yt-ic"><i class="fa fa-youtube"></i></a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid leftImage" src="http://res.cloudinary.com/sammiestarks/image/upload/v1516695104/TCD_7716_web-468x702_rdxlgn.jpg">
        </div>
        <div class="col-md-8 headerTitle">
          <h1>Wizkid</h1>
          <p>Artist | Producer</p>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#">Biography</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Media</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mainWrapper">
        <div class="col-md-4"></div>
        <div class="col-md-8"><h1>Everything</h1></div>
      </div>
    </div>
  </div>
</div>
