<body class="black-skin">

    <!--/. SideNav slide-out button -->

    <!-- Sidebar navigation -->
    <mdb-sidenav #sidenav class="fixed" [fixed]="true">
        <!-- Logo -->
        <li>
            <div class="logo-wrapper waves-light">
                <a href="#"><img src="http://res.cloudinary.com/sammiestarks/image/upload/v1512465818/unnamed_hqta5f.jpg" class="img-fluid flex-center"></a>
            </div>
        </li>
        <!--/. Logo -->
        <!--Social-->
        <li>
            <ul class="social">
                <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>
                <li><a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a></li>
                <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a></li>
                <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>
            </ul>
        </li>
        <!--/Social-->
        <!--Search Form-->
        <li>
            <form class="search-form" role="search">
                <div class="form-group waves-light" mdbWavesEffect>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </li>
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <mdb-squeezebox [multiple]="false" aria-multiselectable="false">
                    <!-- Simple link -->
                    <mdb-item class="no-collase">
                        <mdb-item-head mdbWavesEffect>
                            <a routerLink="/">
                                <i class="fa fa-hand-pointer-o"></i> Dashboard
                            </a>
                        </mdb-item-head>
                        <mdb-item-body></mdb-item-body>
                    </mdb-item>
                    <!-- Collapsible link -->
                    <mdb-item>
                        <mdb-item-head mdbWavesEffect><i class="fa fa-chevron-right"></i> News</mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li><a href="#" routerLink="admin-news" class="waves-effect" mdbWavesEffect>List News</a></li>
                                <li><a href="#" routerLink="category" class="waves-effect" mdbWavesEffect>List Category</a></li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>

                </mdb-squeezebox>
            </ul>
        </li>
        <!--/. Side navigation links -->
        <!-- <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid" alt=""> -->
        <div class="sidenav-bg mask-strong"></div>
    </mdb-sidenav>
    <!--/. Sidebar navigation -->





    <div class="row">


        <div class="col-md-12">



            <!--Navbar-->
            <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">
                <!-- Collapsible content -->

                <logo>
                    <a class="navbar-brand" href="#">
                        <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1512465818/unnamed_hqta5f.jpg" height="30" class="d-inline-block align-top" alt=""> Admin
                    </a>
                </logo>
                <links>

                    <!-- Links -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-light" mdbWavesEffect>Main Site<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" mdbWavesEffect>Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" mdbWavesEffect>Messages</a>
                        </li>

                        <!-- Dropdown -->
                        <li class="nav-item dropdown" dropdown>
                            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
         Settings<span class="caret"></span></a>
                            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Recent</a>
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Trash</a>
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">My Profile</a>
                                <div class="divider dropdown-divider"></div>
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Sign Out</a>
                            </div>
                        </li>

                    </ul>
                    <!-- Links -->

                    <!-- Search form -->
                    <!-- SideNav slide-out button -->
                    <a (click)="sidenav.toggle()" class="btn btn-primary p-3 button-collapse"><i class="fa fa-bars"></i></a>

                </links>
                <!-- Collapsible content -->

            </mdb-navbar>
            <!--/.Navbar-->

        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>

    </div>
</body>