<div class="mainWrapper newsList">
    <div class="row">
        <div class="col-md-12">
            <!--Carousel Wrapper-->
            <div class="mainTitle">
                <h2>News</h2>
                <ul class="newsNav nav row">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Top Stories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Most Read</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Most Discusssed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">View All</a>
                    </li>
                </ul>
            </div>
            <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">

                <!-- Third slide
                <mdb-slide *ngFor='let n of newArr'>
                    <div class="col-md-4" *ngFor='let o of n'>
                        <div class="card">
                            <a [routerLink]="['/news-details-page', o.id]">

                                <img class="imgDimension" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" alt="Card image cap">
                                <div class="carousel-caption">
                                    <h4>{{o.title}}</h4>
                                    <p>We had such a great time in LA!</p>
                                </div>
                            </a>

                        </div>
                    </div> -->


                <!--Carousel Wrapper-->
                <!-- <mdb-carousel [isControls]="false" class="carousel-multi-item multi-animation" [type]="''" [animation]="'slide'"> -->
                <!--slide-->
                <mdb-slide *ngFor='let n of newArr'>
                    <div class="col-md-4" *ngFor='let o of n; let i =index'>
                        <div class="card">
                            <a [routerLink]="['/news-details-page', o.id]">

                                <img class="imgDimension" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" alt="Card image cap">
                                <div class="carousel-caption">
                                    <h4>{{o.title}}</h4>
                                    <p>We had such a great time in LA!</p>
                                </div>
                            </a>

                        </div>

                    </div>




                    <!-- </mdb-slide> -->





                </mdb-slide>
                <!--/Third slide-->
            </mdb-carousel>
            <!--/.Carousel Wrapper-->

        </div>
    </div>
</div>