.newsList{
  padding-top: 50px;
}

.imgDimension{
  height: 300px;
  width: 100%;
}

.mainTitle{
  h2{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    color: black;
    text-transform: uppercase;
  }
}