.highLight{
  background-image: url("http://res.cloudinary.com/sammiestarks/image/upload/v1516292351/webCover2_nlqs6x.png");
  padding-top: 150px;
  padding-bottom: 60px;
}

.searchBar{
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: #777777;
  color: white;
}

.socialRow{
  color: white;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-align: right;
  padding-bottom: 20px;
}

.headerTitle{
  font-weight: bold;
  font-size: 36px;
  font-family: 'Dosis', sans-serif;
  color: white;
  text-transform: uppercase;
  margin-left: 500px;
}

.mainWrapper{
  padding-top: 50px;
}

.newsDetail{
  h1{
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    color: black;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 25px;
  }

  .time{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
  }

  .mainPic{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 800px;
    height: auto;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
  }

  .subPic{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 400px;
    height: auto;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
  }

  p{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 300;
    text-transform: none;
    line-height: 24px !important;
  }

  .shareTags{
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    h4{
      font-family: 'Dosis', sans-serif;
      font-weight: bold;
      font-size: 14px;
    }
    p{
      text-align: right;
    }
  }

  .comments-list{
    padding-top: 40px;

    .user-name{
      h3{
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
      }
    }
  }
}

.sideBarLabels{
  h3{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    color: black;
    text-transform: uppercase;
  }

  h4{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    color: black;
    text-transform: uppercase;
    margin-top: 40px;
  }

  h5{
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    color: black;
    text-transform: uppercase;
  }

  img{
    height: 70px;
    width: 70px;
  }

  .spotlightDetails{
    padding-top: 15px;
    h5{
      font-weight: bold;
      font-size: 14px;
    }
    p{
      font-size: 14px;
    }
  }

  .spotlight{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cateLinks{
    a{
      text-decoration: none;
      font-family: 'Nunito', sans-serif;
      font-size: 14px;
      color: black;
      font-weight: 300;
      text-transform: none;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  .searchBar{
    background-color: #f6f7f9;
    border: 1px solid #9ca9b7;
    border-radius: 2px;
    input{
      color: #9ca9b7;
    }

  }

  .relatedStyles{
    a{
      text-decoration: none;
      font-family: 'Nunito', sans-serif;
      font-size: 13px;
      color: black;
      font-weight: 400;
      text-transform: none;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    img{
      height: 70px;
      width: 70px;
    }
  }

  .tagNavs{
    a{
      margin-right: 5px;
    }
  }

  .aDs{
    margin-top: 100px;

    img{
      height: 296px;
      width: 336px;
      border: 0;
      vertical-align: middle;
    }
  }
}