<!--Carousel Wrapper-->
<div class="highLight">
  <div class="container">
    <div class="searchBar md-form">
      <input type="text" class="input-alternate" placeholder="Search">
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="socialRow col-md-4">
        Follow us:
        <!--Facebook-->
        <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

        <!--Twitter-->
        <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

        <!--Instagram-->
        <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

        <!--Youtube-->
        <a class="icons-sm yt-ic"><i class="fa fa-youtube"></i></a>
      </div>
    </div>

    <div class="row">
      <h1 class="headerTitle">Celebrities</h1>
    </div>
  </div>
</div>

<div class="mainWrapper">
  <div class="container">
    <div class="row">
      <div class="celebStyles col-md-8">
        <div class="row">
          <div class="col-md-4">
            <a href="#">
              <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1513683522/bankyw_gkx4rb.jpg">
              <h4>Celeb Name</h4>
              <p>Role</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#">
              <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1513683522/bankyw_gkx4rb.jpg">
              <h4>Celeb Name</h4>
              <p>Role</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#">
              <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1513683522/bankyw_gkx4rb.jpg">
              <h4>Celeb Name</h4>
              <p>Role</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#">
              <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1513683522/bankyw_gkx4rb.jpg">
              <h4>Celeb Name</h4>
              <p>Role</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#">
              <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1513683522/bankyw_gkx4rb.jpg">
              <h4>Celeb Name</h4>
              <p>Role</p>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#">
              <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1513683522/bankyw_gkx4rb.jpg">
              <h4>Celeb Name</h4>
              <p>Role</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 sideBarLabels">
        <h4>Search</h4>
        <hr>
        <div class="searchBar md-form">
          <input id="input_text" type="text" length="10" mdbInputDirective>
        </div>
        <h4>Categories</h4>
        <hr>
        <ul class="cateLinks nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Artist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Albums</a>
          </li>
        </ul>
        <div class="sideBarLabels">
          <h3>spotlight celebrities</h3>
          <hr>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="spotlight row">
                  <div class="col-md-3">
                    <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466010/wizkid_x6hiyp.jpg">
                  </div>
                  <div class="spotlightDetails col-md-9">
                    <h5>Wizkid</h5>
                    <p>Artist</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="spotlight row">
                  <div class="col-md-3">
                    <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512730627/7_uf9buz.jpg">
                  </div>
                  <div class="spotlightDetails col-md-9">
                    <h5>Tu Face</h5>
                    <p>Artist</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="spotlight row">
                  <div class="col-md-3">
                    <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512730631/Kiss-Daniel_qqxucw.jpg">
                  </div>
                  <div class="spotlightDetails col-md-9">
                    <h5>Kiss Daniel</h5>
                    <p>Artist</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><p>view all</p></a>
            </li>
          </ul>
        </div>

        <div class="aDs container">
          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1519746881/cheche_pqyxvh.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
