<!--Carousel Wrapper-->
<div class="highLight">
  <div class="container">
    <div class="searchBar md-form">
      <input type="text" class="input-alternate" placeholder="Search">
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="socialRow col-md-4">
        Follow us:
        <!--Facebook-->
        <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

        <!--Twitter-->
        <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

        <!--Instagram-->
        <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

        <!--Youtube-->
        <a class="icons-sm yt-ic"><i class="fa fa-youtube"></i></a>
      </div>
    </div>

    <div class="row">
      <h1 class="headerTitle">Celebrities</h1>
    </div>
  </div>
</div>

<div class="mainWrapper">
  <div class="container">
    <div class="row">
      <div class="celebStyles col-md-8">
        <div class="row">
          <!--Section: Testimonials v.3-->
          <section class="team-section text-center pb-3">

            <!--Grid row-->
            <div class="row text-center">

              <!--Grid column-->
              <div class="col-md-4">

                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525690178/Davido-Thisdaystyle-TYbello-son-of-mercy-3-DonakTv_lqquc0.jpg" class="rounded-circle z-depth-1 img-fluid">
                  </div>

                  <!--Content-->
                  <h4 class="my-3">Davido</h4>
                  <h6 class="mb-3 font-bold grey-text">Artist</h6>
                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star-half-full"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525691446/don-jazzy_dafuhu.jpg" class="rounded-circle z-depth-1 img-fluid">
                  </div>

                  <!--Content-->
                  <h4 class="my-3">Don Jazzy</h4>
                  <h6 class="mb-3 font-bold grey-text">Producer</h6>

                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525688788/f-1_hilmq3.jpg" class="rounded-circle z-depth-1 img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="my-3">DBanj</h4>
                  <h6 class="mb-3 font-bold grey-text">Producer</h6>
                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star-o"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </section>
          <!--Section: Testimonials v.3-->
        </div>

        <div class="row">
          <!--Section: Testimonials v.3-->
          <section class="team-section text-center pb-3">

            <!--Grid row-->
            <div class="row text-center">

              <!--Grid column-->
              <div class="col-md-4">

                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525692119/Genevieve-Nnaji-1-1_mnvecj.jpg" class="rounded-circle z-depth-1 img-fluid">
                  </div>

                  <!--Content-->
                  <h4 class="my-3">Genevieve Nnaji</h4>
                  <h6 class="mb-3 font-bold grey-text">Actress</h6>
                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star-half-full"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525692413/kate-henshaw-500x470_ytc2jm.jpg" class="rounded-circle z-depth-1 img-fluid">
                  </div>

                  <!--Content-->
                  <h4 class="my-3">Kate Henshaw</h4>
                  <h6 class="mb-3 font-bold grey-text">Actress</h6>

                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525693231/Rita-Dominic-BellaNaija-3-640x458_rv0pw0.jpg" class="rounded-circle z-depth-1 img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="my-3">Rita Dominic</h4>
                  <h6 class="mb-3 font-bold grey-text">Actress</h6>
                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star-o"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </section>
          <!--Section: Testimonials v.3-->

        </div>
        <div class="row">
          <!--Section: Testimonials v.3-->
          <section class="team-section text-center pb-3">

            <!--Grid row-->
            <div class="row text-center">

              <!--Grid column-->
              <div class="col-md-4">

                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525693943/Ramsey-Nouah_0_rxfinm.jpg" class="rounded-circle z-depth-1 img-fluid">
                  </div>

                  <!--Content-->
                  <h4 class="my-3">Ramsey Nouah</h4>
                  <h6 class="mb-3 font-bold grey-text">Actress</h6>
                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star-half-full"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525694285/bovi-2-640x431_sv2zyn.png" class="rounded-circle z-depth-1 img-fluid">
                  </div>

                  <!--Content-->
                  <h4 class="my-3">Bovi</h4>
                  <h6 class="mb-3 font-bold grey-text">Comedian</h6>

                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525694482/IMG_4237_po1adh.jpg" class="rounded-circle z-depth-1 img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="my-3">Simi</h4>
                  <h6 class="mb-3 font-bold grey-text">Artiste</h6>
                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star-o"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </section>
          <!--Section: Testimonials v.3-->

        </div>
        <div class="row">
          <!--Section: Testimonials v.3-->
          <section class="team-section text-center pb-3">

            <!--Grid row-->
            <div class="row text-center">

              <!--Grid column-->
              <div class="col-md-4">

                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525695091/Tiwa-Savage_wrbuij.jpg" class="rounded-circle z-depth-1 img-fluid">
                  </div>

                  <!--Content-->
                  <h4 class="my-3">Tiwa Savage</h4>
                  <h6 class="mb-3 font-bold grey-text">Artiste</h6>
                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star-half-full"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525695451/Wizkid-1_ffi6tb.jpg" class="rounded-circle z-depth-1 img-fluid">
                  </div>

                  <!--Content-->
                  <h4 class="my-3">Wizkid</h4>
                  <h6 class="mb-3 font-bold grey-text">Artiste</h6>

                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-4">
                <div class="testimonial">
                  <!--Avatar-->
                  <div class="avatar mx-auto">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525695645/wpid-basketmouth4_bulo8s.jpg" class="rounded-circle z-depth-1 img-fluid">
                  </div>
                  <!--Content-->
                  <h4 class="my-3">Basket Mouth</h4>
                  <h6 class="mb-3 font-bold grey-text">Comedian</h6>
                  <!--Review-->
                  <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star-o"> </i>
                  </div>
                </div>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </section>
          <!--Section: Testimonials v.3-->

        </div>

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 sideBarLabels">
        <h4>Search</h4>
        <hr>
        <div class="searchBar md-form">
          <input id="input_text" type="text" length="10" mdbInputDirective>
        </div>

        <div class="sideBarLabels">
          <h3>spotlight celebrities</h3>
          <hr>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="spotlight row">
                  <div class="col-md-3">
                    <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1525695451/Wizkid-1_ffi6tb.jpg">
                  </div>
                  <div class="spotlightDetails col-md-9">
                    <h5>Wizkid</h5>
                    <p>Artist</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="spotlight row">
                  <div class="col-md-3">
                    <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1525704060/maxresdefault_mbcp7j.jpg">
                  </div>
                  <div class="spotlightDetails col-md-9">
                    <h5>Tu Face</h5>
                    <p>Artist</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="spotlight row">
                  <div class="col-md-3">
                    <img class="spotLightPic" src="http://res.cloudinary.com/sammiestarks/image/upload/v1525704061/Kiss-Daniel_ajm38z.jpg">
                  </div>
                  <div class="spotlightDetails col-md-9">
                    <h5>Kiss Daniel</h5>
                    <p>Artist</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><p>view all</p></a>
            </li>
          </ul>
        </div>

        <div class="aDs container">
          <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1519746881/cheche_pqyxvh.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
