<!--Carousel Wrapper-->
<div class="highLight">
    <div class="container">
        <div class="searchBar md-form">
            <input type="text" class="input-alternate" placeholder="Search">
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="socialRow col-md-4">
                Follow us:
                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

                <!--Instagram-->
                <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

                <!--Youtube-->
                <a class="icons-sm yt-ic"><i class="fa fa-youtube"></i></a>
            </div>
        </div>

        <!--Carousel Wrapper-->
        <mdb-carousel [isControls]="false" class="carousel-multi-item multi-animation" [type]="''" [animation]="'slide'">
            <!--First slide-->
            <mdb-slide>
                <div class="col-md-4">
                    <div class="card">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                        <div class="carousel-caption">
                            <h4>Los Angeles</h4>
                            <div class="col-md-4">
                                <p>News</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                        <div class="carousel-caption">
                            <h4>Los Angeles</h4>
                            <div class="col-md-4">
                                <p>News</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
                        <div class="carousel-caption">
                            <h4>Los Angeles</h4>
                            <div class="col-md-4">
                                <p>News</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mdb-slide>
            <!--/First slide-->
            <!--Second slide-->
            <mdb-slide>
                <div class="col-md-4">
                    <div class="card">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap">
                        <div class="carousel-caption">
                            <h4>Los Angeles</h4>
                            <div class="col-md-4">
                                <p>News</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg" alt="Card image cap">
                        <div class="carousel-caption">
                            <h4>Los Angeles</h4>
                            <div class="col-md-4">
                                <p>News</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(48).jpg" alt="Card image cap">
                        <div class="carousel-caption">
                            <h4>Los Angeles</h4>
                            <div class="col-md-4">
                                <p>News</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mdb-slide>
            <!--/Second slide-->
            <!--Third slide-->
            <mdb-slide>
                <div class="col-md-4">
                    <div class="card">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" alt="Card image cap">
                        <div class="carousel-caption">
                            <h4>Los Angeles</h4>
                            <div class="col-md-4">
                                <p>News</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg" alt="Card image cap">
                        <div class="carousel-caption">
                            <h4>Los Angeles</h4>
                            <div class="col-md-4">
                                <p>News</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(51).jpg" alt="Card image cap">
                        <div class="carousel-caption">
                            <h4>Los Angeles</h4>
                            <div class="col-md-4">
                                <p>News</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mdb-slide>
            <!--/Third slide-->
        </mdb-carousel>
        <!--/.Carousel Wrapper-->
    </div>
</div>

