<div class="mainWrapper">
    <div class="mainTitle">
        <h2>Events</h2>
        <ul class="newsNav nav row">
            <li class="nav-item">
                <a class="nav-link" href="#">Hot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View All</a>
            </li>
        </ul>
    </div>

    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
        <!--First slide-->
        <mdb-slide>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" alt="First slide">
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg" alt="Third slide">
        </mdb-slide>
        <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->

</div>