<div class="EventCaro mainWrapper">
    <div class="mainTitle">
        <h2>Events</h2>
        <ul class="newsNav nav row">
            <li class="nav-item">
                <a class="nav-link" href="#">Hot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View All</a>
            </li>
        </ul>
    </div>

    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
        <!--First slide-->
        <mdb-slide>
            <img class="d-block w-100" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075128/BANKYwide_xahqg0.jpg" alt="First slide">
            <div class="carousel-caption">
                <a href="#"><h4>Event Title</h4></a>
            </div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <img class="d-block w-100" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515675830/davidoConcert_ngbmim.jpg" alt="Second slide">
            <div class="carousel-caption">
                <a href="#"><h4>Event Title</h4></a>
            </div>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg" alt="Third slide">
            <div class="carousel-caption">
                <a href="#"><h4>Event Title</h4></a>
            </div>
        </mdb-slide>
        <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->

</div>