<div class="mainWrapper tvLinkr">
    <div class="mainTitle row">
        <h2 class="col-md-10">tv</h2>
        <a class="nav-link col-md-2" href="#">view all</a>
    </div>
    <div class="row">
        <div class="col-md-8">
            <video class="video-fluid" controls>
                <source src="http://res.cloudinary.com/sammiestarks/video/upload/v1524222386/CeCe_and_Tobi_starts_the_Real_fight_PART_1_-_YouTube_rzdflq.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="col-md-4 scrollbar">
            <ul class="nav flex-column force-overflow">
                <li class="nav-item">
                    <a href="#">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516624613/video-tiwa-savage-ft-wizkid-spel_m8mqvm.jpg">
                            </div>
                            <div class="col-md-8"><h4>title</h4></div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516625095/128883174-256-k748660_wqszrp.jpg">
                            </div>
                            <div class="col-md-8"><h4>title</h4></div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516628633/Burna-Boy-Heavens-Gate-Video_pxfg9v.jpg">
                            </div>
                            <div class="col-md-8"><h4>title</h4></div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516629886/tiwa-1-1_ozxbsu.jpg">
                            </div>
                            <div class="col-md-8"><h4>title</h4></div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1516630123/NO_DO-NL_ydhamw.jpg">
                            </div>
                            <div class="col-md-8"><h4>title</h4></div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1518011112/maxresdefault2_zekiiw.jpg">
                            </div>
                            <div class="col-md-8"><h4>title</h4></div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1518011108/hqdefault1_yhpoar.jpg">
                            </div>
                            <div class="col-md-8"><h4>title</h4></div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1518011107/hqdefault_azsb54.jpg">
                            </div>
                            <div class="col-md-8"><h4>title</h4></div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1518011105/maxresdefault_lpy5fm.jpg">
                            </div>
                            <div class="col-md-8"><h4>title</h4></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>