<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
    <!--First slide-->
    <mdb-slide>

        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" alt="First slide">
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg" alt="Third slide">
    </mdb-slide>
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->








<!--Carousel Wrapper-->
<!-- <mdb-carousel [isControls]="true" [type]="'carousel-thumbnails'" class="carousel slide carousel-fade" [animation]="'fade'"> -->
<!--First slide-->
<!-- <mdb-slide>
        <div class="view hm-indigo-light">
            <video class="video-fluid" autoplay loop>
            <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
        </video>
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
    </mdb-slide> -->
<!--/First slide-->
<!--Second slide-->
<!-- <mdb-slide>
        <div class="view hm-indigo-light">
            <video class="video-fluid" autoplay loop>
            <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
        </video>
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
    </mdb-slide> -->
<!--/Second slide-->

<!-- </mdb-carousel> -->
<!--Carousel Wrapper-->