<div class="footNav">
  <div class="row container">
    <div class="col-md-3">
      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1525963839/afroofi2_uhshwb.png">
    </div>
    <div class="col-md-3">
      <h7>Resources</h7>
      <br>
      <br>
      <p><a href="#" class="nav-link">About</a></p>
      <p><a href="#" class="nav-link">Contact Us</a></p>
    </div>
    <div class="col-md-3">
      <h7>legal</h7>
      <br>
      <br>
      <p><a href="#" class="nav-link">Terms of condition</a></p>
      <p><a href="#" class="nav-link">privacy policy</a></p>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>